USE_MOCK_DATA_FOR_DEVELOPMENT=true

GITHUB_APP_ID=1234567
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\\nMIIEpAIBAAKCAQEAsV...\\n...\\n-----END RSA PRIVATE KEY-----"
GITHUB_INSTALLATION_ID=98765432