@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Bone */
  --color-bone-50: #fdfcfb;
  --color-bone-100: #fcf9f8;
  --color-bone-200: #f7f1ed;
  --color-bone-300: #f2e9e2;
  --color-bone-400: #e9d8cc;
  --color-bone-500: #dfc7b6;
  --color-bone-600: #c9b3a4;
  --color-bone-700: #86776d;
  --color-bone-800: #645a52;
  --color-bone-900: #433c37;

  /* Outer Space */
  --color-outer-space-50: #f4f5f5;
  --color-outer-space-100: #e9eaea;
  --color-outer-space-200: #c8cccc;
  --color-outer-space-300: #a7adad;
  --color-outer-space-400: #656f6f;
  --color-outer-space-500: #233131;
  --color-outer-space-600: #202c2c;
  --color-outer-space-700: #151d1d;
  --color-outer-space-800: #101616;
  --color-outer-space-900: #0b0f0f;

  /* Sand Dune */
  --color-sand-dune-50: #f8f8f7;
  --color-sand-dune-100: #f2f0ef;
  --color-sand-dune-200: #dedad6;
  --color-sand-dune-300: #cac3be;
  --color-sand-dune-400: #a3968d;
  --color-sand-dune-500: #7b695c;
  --color-sand-dune-600: #6f5f53;
  --color-sand-dune-700: #4a3f37;
  --color-sand-dune-800: #372f29;
  --color-sand-dune-900: #25201c;

  /* Stack */
  --color-stack-50: #f9f9f9;
  --color-stack-100: #f3f4f4;
  --color-stack-200: #e1e3e2;
  --color-stack-300: #cfd3d1;
  --color-stack-400: #acb1af;
  --color-stack-500: #88908c;
  --color-stack-600: #7a827e;
  --color-stack-700: #525654;
  --color-stack-800: #3d413f;
  --color-stack-900: #292b2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-bone-50);
  --foreground: var(--color-outer-space-900);
  --card: var(--color-bone-100);
  --card-foreground: var(--color-outer-space-900);
  --popover: var(--color-bone-100);
  --popover-foreground: var(--color-outer-space-900);

  --primary: var(--color-sand-dune-700);
  --primary-foreground: var(--color-bone-50);
  --secondary: var(--color-bone-200);
  --secondary-foreground: var(--color-sand-dune-700);

  --muted: var(--color-bone-200);
  --muted-foreground: var(--color-outer-space-500);

  --accent: var(--color-sand-dune-100);
  --accent-foreground: var(--color-sand-dune-800);

  --destructive: #e05f4b;
  --border: var(--color-bone-300);
  --input: var(--color-bone-500);
  --ring: var(--color-sand-dune-500);

  --chart-1: var(--color-stack-500);
  --chart-2: var(--color-stack-600);
  --chart-3: var(--color-stack-700);
  --chart-4: var(--color-sand-dune-500);
  --chart-5: var(--color-outer-space-500);

  --sidebar: var(--color-bone-50);
  --sidebar-foreground: var(--color-outer-space-900);
  --sidebar-primary: var(--color-sand-dune-700);
  --sidebar-primary-foreground: var(--color-bone-50);
  --sidebar-accent: var(--color-bone-200);
  --sidebar-accent-foreground: var(--color-sand-dune-700);
  --sidebar-border: var(--color-bone-300);
  --sidebar-ring: var(--color-sand-dune-500);
}

.dark {
  --background: var(--color-outer-space-900);
  --foreground: var(--color-bone-50);
  --card: var(--color-outer-space-800);
  --card-foreground: var(--color-bone-50);
  --popover: var(--color-outer-space-800);
  --popover-foreground: var(--color-bone-50);

  --primary: var(--color-sand-dune-300);
  --primary-foreground: var(--color-outer-space-900);
  --secondary: var(--color-outer-space-700);
  --secondary-foreground: var(--color-bone-50);

  --muted: var(--color-outer-space-700);
  --muted-foreground: var(--color-bone-400);

  --accent: var(--color-outer-space-700);
  --accent-foreground: var(--color-bone-50);

  --destructive: #ff6f61;
  --border: var(--color-outer-space-700);
  --input: var(--color-outer-space-500);
  --ring: var(--color-sand-dune-300);

  --chart-1: var(--color-stack-500);
  --chart-2: var(--color-stack-400);
  --chart-3: var(--color-stack-600);
  --chart-4: var(--color-sand-dune-400);
  --chart-5: var(--color-outer-space-400);

  --sidebar: var(--color-outer-space-800);
  --sidebar-foreground: var(--color-bone-50);
  --sidebar-primary: var(--color-stack-500);
  --sidebar-primary-foreground: var(--color-bone-50);
  --sidebar-accent: var(--color-outer-space-700);
  --sidebar-accent-foreground: var(--color-bone-50);
  --sidebar-border: var(--color-outer-space-600);
  --sidebar-ring: var(--color-sand-dune-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased overflow-x-hidden;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-appear {
  animation: appear 0.6s cubic-bezier(0.2, 0.85, 0.45, 1) forwards;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-700 {
  animation-delay: 700ms;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.accordion-up {
  animation: accordion-up 0.2s ease-out;
}
